/* form.css */
/* styles for create and update forms */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--alice-blue);
  border: 2px solid var(--prussian-blue);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
  color: var(--prussian-blue);
}

.form-group input {
  padding: 10px;
  border: 2px solid var(--prussian-blue);
  font-size: medium;
}

.form-submit {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  background-color: var(--selective-yellow);
  cursor: pointer;
  border: 2px solid var(--prussian-blue);
  font-weight: bold;
  color: var(--prussian-blue);
  text-transform: uppercase;
}

.form-submit:hover {
  background-color: var(--selective-yellow-lighter);
}

.form-cancel {
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--prussian-blue);
  border: 2px solid var(--prussian-blue);
  font-size: small;
  font-weight: bold;
  color: var(--alice-blue);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.form-cancel:hover {
  background-color: #204669;
}

.inline-form {
  display: contents;
}

#delete-form {
  display: none;
}

/* responsive styling */

@media screen and (max-width: 825px) {
  .form {
    width: 100%;
  }
}
