<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <title>Flashcard Dragon</title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main class="home-grid">
        <div class="test"></div>
        <div class="test"></div>
        <div class="test"></div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
