<header>
  <a class="title" href="/"><h1>Flashcard Dragon</h1></a>
  <nav class="navigation">
    <a class="nav-link" href="/sets">Sets</a>
    <a class="nav-link" href="/set/random">Random</a>
    <a class="nav-link" href="/set/create">Create</a>
  </nav>
</header>
