/* study.css */
/* styles for study page grid */

.study-grid {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  width: 80%;
  max-width: 1200px;
}

.study-grid > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.study-grid-flashcard {
  grid-area: 1 / 1 / 6 / 6;
  overflow: scroll;
  min-height: 450px;
  background-color: var(--alice-blue);
  border: 2px solid var(--prussian-blue);
}

.study-grid-controls {
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  grid-area: 6 / 1 / 7 / 6;
  padding: 0;
}

.study-grid-description {
  grid-area: 1 / 6 / 7 / 8;
  background-color: var(--alice-blue);
  border: 2px solid var(--prussian-blue);
}

.study-grid-controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 10px;
  background-color: var(--alice-blue);
  border: 2px solid var(--prussian-blue);
}

/* responsive styling */

@media screen and (max-width: 825px) {
  .study-grid {
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    width: 100%;
  }

  .study-grid-flashcard,
  .study-grid-controls,
  .study-grid-description {
    grid-area: auto;
  }

  .study-grid-description {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .study-grid-flashcard {
    min-height: 250px;
    max-height: 250px;
  }
}
